/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  width: 80%;
  height: 150px;
  margin: 30px auto;
  padding: 0 20px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name_and_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 20%;
}

.recipe_title > a {
  text-transform: uppercase;
  font-size: 1.5em;
}

.description {
  width: 60%;
  height: 100%;
  text-align: justify;
  padding: 30px 0;
}

.table-food,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #03254c;
  padding: 0 20px;
  color: #fff;
}

.nav-title {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbarlinks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navbar-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.nav-link {
  color: #fff;
}

.nav-item {
  list-style: none;
}

.signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 20px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 20px;
}

